@import "../include";
.form {
        &__layout {
                display: flex;
                justify-content: center;
                align-items: center;
                @include BreakPoint(md) {
                        align-items: stretch;
                }
        }

        &__wrapper {
                padding: 64px 24px;
                text-align: center;
                width: 400px;
                background-color: #ffffff;
                border: 1px solid #000000;

                & > *:not(:last-child) {
                        margin-bottom: 24px;
                }

                @include BreakPoint(md) {
                        width: 100%;
                }
        }
        &__error {
                color: red;
                text-align: left;
                font-size: 14px;
                margin-top: 4px;

                &::first-letter {
                        text-transform: capitalize;
                }
        }
        &__success {
                color: #2ecc71;
                text-align: left;
                font-size: 14px;
                margin-top: 4px;

                &::first-letter {
                        text-transform: capitalize;
                }
        }
}
