@import "../include";

.home {
        &__layout {
                display: grid;
                grid-template-rows: 65% 35%;
                grid-template-columns: 35% 65%;

                margin: 0 auto;
                position: relative;
                @include BreakPoint(lg) {
                        grid-template-rows: 1fr;
                        grid-template-columns: 1fr;
                }
        }

        &__main {
                &--top {
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: relative;
                        background-image: url("../../asset/images/extra.jpg");
                        @include BreakPoint(xxl) {
                                background-image: url("../../asset/images/banner.jpg");
                        }
                }

                &--bottom {
                        grid-row: 2/3;
                        grid-column: 1/2;
                        background-size: cover;

                        background-image: url("../../asset/images/banner-2.jpg");
                }
        }

        &__side {
                grid-row: 1/3;
                background-size: cover;
                grid-column: 2/3;
                background-image: url("../../asset/images/banner.jpg");
                @include BreakPoint(xxl) {
                        background-image: url("../../asset/images/extra.jpg");
                        background-position: center center;
                }

                position: relative;
                &::before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background: #163f53;
                        mix-blend-mode: overlay;
                }
        }
}
