.notfound {
        &__title {
                font-size: 9em;
        }

        &__subtitle {
                font-size: 4em;
                font-weight: 400;
        }

        &__container {
                text-align: center;
                background-color: transparent !important;
                border: unset !important;
        }
}
