@import "../include";

.jumbotron {
        height: 350px;
        img {
                object-fit: cover;
                width: 100%;
                height: 100%;
        }
        @include BreakPoint(md) {
                height: 250px;
        }
}

.store {
        &__container {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                column-gap: 2px;
                row-gap: 2px;

                @include BreakPoint(xxl) {
                        grid-template-columns: repeat(5, 1fr);
                }
                @include BreakPoint(xl) {
                        grid-template-columns: repeat(4, 1fr);
                }

                @include BreakPoint(lg) {
                        grid-template-columns: repeat(3, 1fr);
                }
                @include BreakPoint(md) {
                        grid-template-columns: repeat(2, 1fr);
                }
        }

        &__notfound {
                border-top: 1px solid #171717;
                font-size: 32px;
                font-weight: 500;
                display: block;
                padding-top: 32px;
                text-align: center;
        }

        &__filter {
                margin: 4px 8px;

                @include BreakPoint(md) {
                        margin: 4px;
                }
                &__box {
                        appearance: none;
                        border-radius: 0;
                        font-family: inherit;
                        margin-bottom: 8px;
                        padding: 8px 8px;
                        font-size: 14px;

                        outline: none;
                        cursor: pointer;
                        font-weight: 500;
                        color: #163f53;

                        background: #faf3f3;
                        position: relative;

                        border: 1px solid #171717;

                        &__selector {
                                background: url("/asset/images/dropdown.svg"), #faf3f3;
                                background-repeat: no-repeat;
                                background-position: 90% center;
                                padding-right: 24px;
                                &::-ms-expand {
                                        display: none;
                                }
                        }
                }
                &__btn {
                        background-color: #163f53;
                        color: #faf3f3;
                }
        }
}

.item {
        &__wrapper {
                color: #000;
                padding: 16px;

                width: 100%;
                height: 380px;
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                background-color: #e7e7e7;
                flex-direction: column;
                transition: 0.1s ease-out;
                @include BreakPoint(md) {
                        height: 320px;
                }

                &:hover {
                        border: 1px solid #000;
                        transform: scale(1.05);
                }
        }

        &__img {
                height: 250px;
                width: 100%;
                object-fit: contain;
                @include BreakPoint(md) {
                        height: 180px;
                }
        }
        &--top {
                text-align: right;
        }
        &__name {
                font-weight: 400;
                font-size: 16px;
        }
        &__price {
                font-weight: 300;
                font-size: 17px;
        }
}
