.form {
        &__title {
                color: #163f53;
                font-size: 48px;
                font-weight: bold;
                letter-spacing: 3px;
                font-family: "Times New Roman", Times, serif;
                &--sub {
                        font-size: 17px;
                        color: #61677c;
                }
        }
        &__link {
                &__wrapper {
                        border: 1px solid #000000;
                        display: flex;
                        padding: 12px 16px;
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                }

                &__img {
                        margin-right: 8px;
                }

                &__label {
                        color: #000000;
                }
        }

        &__support a {
                color: #000000;
        }

        &__group {
        }

        &__input {
                display: block;
                width: 100%;
                padding: 12px 16px;
                outline: none;
                border: 1px solid #000000;
        }

        &__textarea {
                padding: 4px;
                width: 100%;
                display: block;
                resize: none;
                overflow: auto;
                text-indent: 12px;
                min-height: 300px;
                font-weight: 400;
                font-size: 14px;
                font-family: inherit;
        }
}
