@import "../include";

.navbar {
        &__container {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                position: fixed;
                width: 100%;
                z-index: 999;
                background-color: #faf3f3;
        }

        &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 64px;
                padding: 8px 32px;
                @include BreakPoint(md) {
                        height: 48px;
                        padding: 8px 16px;
                }
        }

        &__brand {
                color: #163f53;
                font-size: 48px;
                font-weight: bold;
                font-family: "Times New Roman", Times, serif;
                @include BreakPoint(md) {
                        font-size: 24px;
                }
        }

        &__list {
                display: flex;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 3px;
                justify-content: center;
                width: 100%;
                background-color: #faf3f3;
                & > *:not(:last-child) {
                        margin-right: 32px;
                }
                @include BreakPoint(lg) {
                        position: absolute;
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                        padding: 0 16px;
                        top: 100%;
                        left: 0;
                }

                @include BreakPoint(md) {
                        flex-direction: column;
                        padding: 24px 0;
                        transform: scaleY(0);
                        transition: 0.2s ease-out;
                        transform-origin: top;

                        border-top: 1px solid #171717;
                        & > *:not(:last-child) {
                                margin-right: 0;
                        }

                        &.active {
                                transform: scaleY(1);
                        }
                }
        }

        &__link {
                padding: 4px;
                color: #163f53;
                transition: 0.2s ease-out;
                text-align: center;
                &:hover {
                        background-color: #c9caca;
                }
                @include BreakPoint(md) {
                        padding: 16px;
                }
        }

        &__bag {
                @include BreakPoint(md) {
                        padding: 4px;
                }
        }
        &__mobile {
                width: 40px;
                display: none;
                cursor: pointer;
                @include BreakPoint(md) {
                        display: block;
                }
                & > * {
                        width: inherit;
                        height: 4px;
                        background-color: #163f53;
                }

                & > *:not(:first-child):not(:last-child) {
                        margin: 8px 0;
                        width: 60%;
                        transition: 0.2s ease-out;
                }
                &.active {
                        & > *:not(:first-child):not(:last-child) {
                                transform: translateX(65%);
                        }
                }
        }
}
