.navbar__container {
        margin: 16px;
        position: absolute;
        z-index: 999;
}

@media only screen and (max-width: 768px) {
        .navbar__container {
                position: fixed;
                top: 0;
                margin: 0;
                width: 100%;
                background-color: #faf3f3;
        }
}

.navbar__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
}

@media only screen and (max-width: 768px) {
        .navbar__wrapper {
                height: 48px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 16px;
        }
}

.navbar__wrapper a {
        letter-spacing: 2px;
        color: #163f53;
}

.navbar__brand {
        display: inline-block;
        margin-right: 32px;
        font-size: 96px;
        font-weight: bold;
        line-height: 80px;
        font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 992px) {
        .navbar__brand {
                font-size: 50px;
        }
}

@media only screen and (max-width: 768px) {
        .navbar__brand {
                font-size: 32px;
                line-height: normal;
                margin-right: 0;
        }
}

@media only screen and (max-width: 768px) {
        .navbar__list {
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transition: 0.2s ease-out;
                transition: 0.2s ease-out;
                -webkit-transform-origin: top;
                transform-origin: top;
                padding: 32px 0;
                border-top: 1px solid #171717;
                border-bottom: 2px solid #171717;
                background-color: #faf3f3;
                top: 100%;
                left: 0;
                width: 100%;
                position: absolute;
        }
}

@media only screen and (max-width: 768px) {
        .navbar__list.active {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
        }
}

.navbar__item {
        display: inline-block;
        font-size: 14px;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        font-weight: bold;
}

.navbar__item:hover {
        background-color: #ebebeb;
}

@media only screen and (max-width: 768px) {
        .navbar__item {
                display: block;
        }
}

.navbar__item:not(:last-child) {
        margin-right: 32px;
}

@media only screen and (max-width: 768px) {
        .navbar__item:not(:last-child) {
                display: block;
                margin: 0;
        }
}

.navbar__link {
        display: block;
        padding: 4px;
        text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
        .navbar__link {
                text-align: center;
                padding: 16px;
        }
}

.navbar__mobile {
        width: 40px;
        display: none;
        cursor: pointer;
}

@media only screen and (max-width: 768px) {
        .navbar__mobile {
                display: block;
        }
}

.navbar__mobile > * {
        width: inherit;
        height: 4px;
        background-color: #163f53;
}

.navbar__mobile > *:not(:first-child):not(:last-child) {
        margin: 8px 0;
        width: 60%;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
}

.navbar__mobile.active > *:not(:first-child):not(:last-child) {
        -webkit-transform: translateX(65%);
        transform: translateX(65%);
}

.navbar__bag {
        display: none;
}

@media only screen and (max-width: 768px) {
        .navbar__bag {
                display: block;
        }
}
/*# sourceMappingURL=navbar.css.map */
