@-webkit-keyframes FadeIn {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}
@keyframes FadeIn {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}
*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
a {
        text-decoration: none;
}
@font-face {
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 400;
        src: url("../../asset/fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 500;
        src: url("../../asset/fonts/SF-Pro-Display-Medium.otf");
}
@font-face {
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 600;
        src: url("../../asset/fonts/SF-Pro-Display-Semibold.otf");
}
@font-face {
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 300;
        src: url("../../asset/fonts/SF-Pro-Display-Thin.otf");
}
@font-face {
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 700;
        src: url("../../asset/fonts/SF-Pro-Display-Bold.otf");
}
html {
        font-family: "SF Pro";
        size: 16px;
}
body {
        min-height: 100vh;
        position: relative;
        background-color: #faf3f3;
}
ul {
        list-style: none;
}
li,
a {
        display: block;
        text-decoration: none;
}
.container__main {
        padding-top: 64px;
        min-height: inherit;
}
@media only screen and (max-width: 768px) {
        .container__main {
                padding-top: 48px;
        }
}
.fade-in {
        -webkit-animation: FadeIn 0.4s ease-out forwards;
        animation: FadeIn 0.4s ease-out forwards;
}
.navbar__container {
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
        position: fixed;
        width: 100%;
        z-index: 999;
        background-color: #faf3f3;
}
.navbar__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 64px;
        padding: 8px 32px;
}
@media only screen and (max-width: 768px) {
        .navbar__wrapper {
                height: 48px;
                padding: 8px 16px;
        }
}
.navbar__brand {
        color: #163f53;
        font-size: 3em;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 768px) {
        .navbar__brand {
                font-size: 32px;
        }
}
.navbar__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 0.875em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        background-color: #faf3f3;
}
.navbar__list > *:not(:last-child) {
        margin-right: 32px;
}
@media only screen and (max-width: 992px) {
        .navbar__list {
                position: absolute;
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                padding: 0 16px;
                top: 100%;
                left: 0;
        }
}
@media only screen and (max-width: 768px) {
        .navbar__list {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding: 24px 0;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transition: 0.2s ease-out;
                transition: 0.2s ease-out;
                -webkit-transform-origin: top;
                transform-origin: top;
                border-top: 1px solid #171717;
        }
        .navbar__list > *:not(:last-child) {
                margin-right: 0;
        }
        .navbar__list.active {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
        }
}
.navbar__link {
        padding: 4px;
        color: #163f53;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        text-align: center;
}
.navbar__link:hover {
        background-color: #c9caca;
}
@media only screen and (max-width: 768px) {
        .navbar__link {
                padding: 16px;
        }
}
.navbar__bag {
        position: relative;
}
@media only screen and (max-width: 768px) {
        .navbar__bag {
                padding: 4px;
        }
}
.navbar__count {
        position: absolute;
        right: -5px;
        height: 20px;
        width: 20px;
        background-color: #ee4171;
        color: #ffffff;
        border-radius: 50%;
        font-size: 0.875em;
        line-height: 20px;
        display: none;
        top: 0;
}
.navbar__mobile {
        width: 40px;
        display: none;
        cursor: pointer;
}
@media only screen and (max-width: 768px) {
        .navbar__mobile {
                display: block;
        }
}
.navbar__mobile > * {
        width: inherit;
        height: 4px;
        background-color: #163f53;
}
.navbar__mobile > *:not(:first-child):not(:last-child) {
        margin: 8px 0;
        width: 60%;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
}
.navbar__mobile.active > *:not(:first-child):not(:last-child) {
        -webkit-transform: translateX(65%);
        transform: translateX(65%);
}
.container__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}
.about-us__wrapper {
        max-width: 50%;
}
.about-us__wrapper > *:not(:last-child) {
        margin-bottom: 32px;
}
.about-us__wrapper > * {
        margin: 0 auto;
}
@media only screen and (max-width: 768px) {
        .about-us__wrapper {
                max-width: 100%;
                padding: 16px;
        }
}
.about-us__title {
        font-size: 6em;
        text-align: center;
        color: #163f53;
        letter-spacing: 3px;
        font-family: "Times New Roman", Times, serif;
}
.about-us__img {
        display: block;
        position: relative;
        max-width: 550px;
}
.about-us__img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
}
.btn {
        padding: 12px 16px;
        font-size: 1em;
        background: #171717;
        text-align: center;
        color: #fefefe;
        width: 250px;
        border: none;
        cursor: pointer;
        outline: none;
        display: block;
        margin: 0 auto;
}
.footer {
        padding: 16px 0;
        font-size: 0.9rem;
        text-align: center;
}
.footer a {
        display: inline-block;
}
