<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/notfound.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="form__layout container__main" id="layout">
                        <div class="form__wrapper notfound__container">
                                <h1 class="notfound__title">404</h1>
                                <h2 class="notfound__subtitle">Whoops!</h2>
                                <p class="notfound__content">We couldn’t connect you to page you are looking for.</p>
                                <a class="btn" href="/">Go Back To Home</a>
                        </div>
                </main>
                <script src="/script/navbar.js"></script>
        </body>
</html>
