<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/aboutus.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="container__main" id="layout">
                        <div class="about-us__wrapper">
                                <h1 class="about-us__title">MERCI</h1>
                                <div class="about-us__img">
                                        <img src="/asset/images/aboutus.jpg" alt="about us" />
                                </div>

                                <p>
                                        virtual lead sas manager national infrastructure bacon revolutionize pound total user-friendly orchestrate
                                        input sensor synthesizing corners extend parsing virginia feed pennsylvania haptic pci bus communications
                                        technologies paradigm deposit accounts jewelery practical distributed communications extend facilitate
                                        cambridgeshire parsing awesome cross-platform feed metal supervisor tools redundant agent gloves ruble sports
                                        indexing organized cambridgeshire coves well-modulated bandwidth computer product customized overriding
                                        dynamic one-to-one tuna generic one-to-one expanded grove identity agent maximized program xml ball keyboard
                                        ftp egypt mission-critical sierra blue wyoming indexing distributed frozen pci ib black washington small
                                        actuating customer handcrafted mexico gloves applications customer incredible management human electronics
                                        bedfordshire withdrawal dynamic
                                </p>

                                <a class="btn" href="/">Go Back To Home</a>
                        </div>
                </main>

                <script src="/script/navbar.js"></script>
        </body>
</html>
