<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/aboutus.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="container__main fade-in" id="layout">
                        <div class="about-us__wrapper">
                                <h1 class="about-us__title">MERCI</h1>
                                <div class="about-us__img">
                                        <img src="/asset/images/aboutus.jpg" alt="about us" />
                                </div>

                                <p>
                                        Starting in 2020, W Concept began as a center for emerging designers to market and expose their brands online,
                                        opposed to the limitations of their brick-and-mortar stores. Through building relationships with these brands,
                                        W Concept has become the largest retailer for direct access to these unique labels.
                                </p>
                                <p>
                                        We release exclusive collaboration collections with talented designer brands each season, through our house
                                        brand, FRONTROW. W Concept launched its first U.S. E-comerce site in 2020, with headquarters in Seoul,
                                        Shanghai, and the Greater New York Area today.
                                </p>

                                <a class="btn" href="/">Go Back To Home</a>
                        </div>
                </main>
                <%- include("./include/footer") %>
                <script src="/script/navbar.js"></script>
        </body>
</html>
