<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/aboutus.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="container__main fade-in" id="layout">
                        <div class="about-us__wrapper">
                                <h1 class="about-us__title">MERCI</h1>
                                <div class="about-us__img">
                                        <img src="/asset/images/aboutus.jpg" alt="about us" />
                                </div>

                                <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                        voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                        pariatur?
                                </p>
                                <p>
                                        We release exclusive collaboration collections with talented designer brands each season, through our house
                                        brand, FRONTROW. W Concept launched its first U.S. E-comerce site in 2020, with headquarters in Seoul,
                                        Shanghai, and the Greater New York Area today.
                                </p>

                                <a class="btn" href="/">Go Back To Home</a>
                        </div>
                </main>
                <%- include("./include/footer") %>
                <script src="/script/navbar.js"></script>
        </body>
</html>
