<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/login.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <div class="form__layout container__main" id="layout">
                        <main class="privacy flex-column">
                                <h1>Disclaimer / Privacy Notice</h1>

                                <p>
                                        The Merci team has made reasonable efforts to ensure the accuracy of the information throughout this website.
                                        However, Merci team reserves the right to make appropriate changes in information found on this website.
                                </p>
                                <p>
                                        Nothing contained in this website shall be construed as contractual rights. Merci has many links to other
                                        websites. These include links to websites operated by other government agencies, nonprofit organizations and
                                        private businesses. Merci does not endorse any content or linked materials found on websites or web services
                                        provided by and/or developed by Merci.
                                </p>

                                <p>
                                        When linked to another site, you are no longer on the Merci website and this Privacy Notice will not apply.
                                        When linked to another website, you are subject to the privacy policy of that new site. Merci does not warrant
                                        the accuracy, reliability or timeliness of any information published by this system, nor endorses any content,
                                        viewpoints, products, or services linked from this system, and shall not be held liable for any losses caused
                                        by reliance on the accuracy, reliability or timeliness of such information. Portions of such information may
                                        be incorrect or not current.
                                </p>

                                <p>Any person or entity that relies on any information obtained from this system does so at their own risk.</p>
                        </main>
                </div>
                <%- include("./include/footer") %>

                <script src="/script/navbar.js"></script>
        </body>
</html>
