<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" href="./style/home.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="home__layout container__main fade-in" id="layout">
                        <div class="home__main--top">
                                <section class="blog__card">
                                        <h1 class="blog__title">WHO WE ARE</h1>
                                        <p class="blog__content">
                                                W Concept is your fashion stop for everything exclusively on-trend, with a unique selection of
                                                products that cannot be found elsewhere.
                                        </p>
                                        <p class="blog__content">
                                                Our collection of carefully selected independent designers are made globally available to your closet,
                                                through a simple and innovative shopping experience. Our objective – to provide you with all of your
                                                fashion and lifestyle needs, while creating a communal playground to discover new trends.
                                        </p>
                                        <a href="/store?name=" class="blog__link">Explore now</a>
                                </section>
                        </div>
                        <div class="home__main--bottom"></div>
                        <div class="home__side">
                                <div class="social__container">
                                        <a
                                                href="https://www.facebook.com/profile.php?id=100007657904974"
                                                target="_blank"
                                                class="social__item"
                                                rel="noopener"
                                        >
                                                <img class="social__icon" src="./asset/images/facebook.svg" alt="facebook" />
                                        </a>
                                        <a
                                                href="https://www.instagram.com/ngocthinhpham0110/?hl=en"
                                                target="_blank"
                                                class="social__item"
                                                rel="noopener"
                                        >
                                                <img class="social__icon" src="./asset/images/instagram.svg" alt="instagram" />
                                        </a>
                                </div>
                        </div>
                </main>
                <%- include("./include/footer") %> <%- include("./include/script") %>
                <script src="./script/navbar.js"></script>
        </body>
</html>
