<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/contact.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="form__layout container__main fade-in" id="layout">
                        <form class="form__wrapper" id="contact-form">
                                <h1 class="form__title">MERCI</h1>
                                <p class="form__title--sub">BECOME MERCI PARTNER</p>
                                <p class="form__success" id="msg"></p>
                                <div class="form__group">
                                        <input class="form__input" name="name" type="text" placeholder="Full name" id="name" />
                                        <p class="form__error" id="name:error"></p>
                                </div>
                                <div class="form__group">
                                        <input class="form__input" name="email" type="text" placeholder="Email" id="email" />
                                        <p class="form__error" id="email:error"></p>
                                </div>
                                <div class="form__group">
                                        <p class="form__error" id="comment:error"></p>
                                        <textarea class="form__textarea" placeholder="About yourself" id="comment"></textarea>
                                </div>
                                <button class="btn">Submit</button>
                        </form>
                </main>
                <%- include("./include/script") %>
                <script src="/script/navbar.js"></script>
                <script src="/script/contactus.js"></script>
        </body>
</html>
