<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("./include/head") %>
                <link rel="stylesheet" type="text/css" href="/style/login.css" />
        </head>
        <body>
                <%- include("./include/navbar") %>
                <main class="form__layout container__main" id="layout">
                        <form action="" class="form__wrapper">
                                <h1 class="form__title">MERCI</h1>
                                <p class="form__title--sub">LOGIN ACCOUNT WITH</p>
                                <a href="#" class="form__link__wrapper">
                                        <img class="form__link__img" src="/asset/images/google.svg" alt="google" />
                                        <p class="form__link__label">CONTINUE WITH GOOGLE</p>
                                </a>
                                <div class="form__support">
                                        <p>If you have any issues. Let us know to support.</p>
                                        <a href="tel:090-0123-493">Phone: +090124562</a>
                                        <a href="/conttact">Email: home@merci.com</a>
                                </div>
                        </form>
                </main>
                <script src="/script/navbar.js"></script>
        </body>
</html>
