<footer class="footer">
        <div>
                <p>&copy; 2021 by Thinh Pham, All Rights Reserved</p>
        </div>
        <div>
                <a href="http://jigsaw.w3.org/css-validator/validator" rel="nofollow" title="Validate as CSS3">CSS3 Validator</a> ~
                <a href="http://validator.w3.org/check/referer" rel="nofollow" title="Validate as HTML5">HTML5 Validator</a>
        </div>
</footer>
