<header class="navbar__container">
        <nav class="navbar__wrapper">
                <div class="navbar__mobile" id="navbar__btn--mobile">
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
                <a class="navbar__brand" href="#"> MERCI </a>
                <ul class="navbar__list" id="navbar__list">
                        <li class="navbar__item">
                                <a class="navbar__link" href="#"
                                        >New Collection</a
                                >
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="#">Women</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="#">Men</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="#">Our Work</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="#">ABOUT US</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="#">CONTACTS</a>
                        </li>
                </ul>
                <a class="navbar__bag" href="#">
                        <img src="/asset/images/bag.svg" alt="bag" />
                </a>
        </nav>
</header>
