<header class="navbar__container">
        <nav class="navbar__wrapper">
                <div class="navbar__mobile" id="navbar__btn--mobile">
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
                <a class="navbar__brand" href="/">MERCI</a>
                <ul class="navbar__list" id="navbar__list">
                        <li class="navbar__item">
                                <a class="navbar__link" href="/store?name=">New Collection</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="/store?sex=female">Women</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="/store?sex=male">Men</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="/aboutus">ABOUT US</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="/contact">CONTACTS</a>
                        </li>
                        <li class="navbar__item">
                                <a class="navbar__link" href="/partnership">Partnership</a>
                        </li>
                </ul>
                <a class="navbar__bag navbar__link" href="/checkout">
                        <p class="navbar__count" id="bag-count"></p>
                        <img src="/asset/images/bag.svg" alt="bag" />
                </a>
        </nav>
</header>
